In [3]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

data = {
    "Customer_id": [1, 2, 3, 4],
    "gender": ["Male", "Female", "Female", "Male"],
    "City": ["Hyderabad", "Pune", "Bangalore", "Mumbai"]
}

df = pd.DataFrame(data)
print(df)

one_hot_encoder = OneHotEncoder(sparse_output=False)
columns_to_encode = ["gender", "City"]
encoded_data = one_hot_encoder.fit_transform(df[columns_to_encode])
encoded_columns = one_hot_encoder.get_feature_names_out(columns_to_encode)
encoded_df = pd.DataFrame(encoded_data, columns=encoded_columns)

print(encoded_df)

final_df = pd.concat([df.drop(columns=columns_to_encode), encoded_df], axis=1)
print(final_df)

   Customer_id  gender       City
0            1    Male  Hyderabad
1            2  Female       Pune
2            3  Female  Bangalore
3            4    Male     Mumbai
   gender_Female  gender_Male  City_Bangalore  City_Hyderabad  City_Mumbai  \
0            0.0          1.0             0.0             1.0          0.0
1            1.0          0.0             0.0             0.0          0.0
2            1.0          0.0             1.0             0.0          0.0
3            0.0          1.0             0.0             0.0          1.0

   City_Pune
0        0.0
1        1.0
2        0.0
3        0.0
   Customer_id  gender_Female  gender_Male  City_Bangalore  City_Hyderabad  \
0            1            0.0          1.0             0.0             1.0
1            2            1.0          0.0             0.0             0.0
2            3            1.0          0.0             1.0             0.0
3            4            0.0          1.0             0.0             0.0

   City_Mumbai  City_Pune
0          0.0        0.0
1          0.0        1.0
2          0.0        0.0
3          1.0        0.0